{% extends 'base.html' %}
#myModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro para el modal */
}

{% block titulo %}Lista de Artículos{% endblock %}

{% block contenido %}
<div class="container">
   
    <a href="{% url 'listar_categorias' %}" class="btn btn-primary my-2">Listar Categorias</a>
    <a href="{% url 'listar_ubicaciones' %}" class="btn btn-primary my-2">Listar Ubicaciones</a>
    <h1 class="mt-4">Artículos</h1>
    <form method="get" class="form-inline my-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" name="q" value="{{ request.GET.q }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <a href="{% url 'crear_articulo' %}" class="btn btn-primary my-2">Agregar Artículo</a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Foto</th>
                <th>Categorías</th>
                <th>Ubicación</th>
                <th>Unidades</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo in articulos %}
            <tr>
                <td>{{ articulo.nombre }}</td>
                <td>{{ articulo.descripcion }}</td>
                <td>
                    {% if articulo.foto %}
                    <img src="{{ articulo.foto.url }}" alt="{{ articulo.nombre }}" width="100" height="50" onclick="openModal('{{ articulo.foto.url }}')">
                {% else %}
                    <p>No hay imagen disponible</p>
                {% endif %}
                </td>
              
                <td>
                    {% for categoria in articulo.categorias.all %}
                        {{ categoria.nombre }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ articulo.ubicacion.nombre }}</td>
                <td>{{ articulo.unidades }}</td>
                <td>
                    <a href="{% url 'editar_articulo' articulo.pk %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'eliminar_articulo' articulo.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
  <!-- Modal -->
  <div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="imgModal">
</div>

<script>
    // Función para abrir el modal con la imagen en tamaño original
    function openModal(url) {
        var modal = document.getElementById("myModal");
        var imgModal = document.getElementById("imgModal");
        imgModal.src = url;
        modal.style.display = "block";
    }

    // Función para cerrar el modal
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }

    // Cierra el modal si se hace clic fuera de la imagen
    window.onclick = function(event) {
        var modal = document.getElementById("myModal");
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}
