<!DOCTYPE html>
<html lang="es">
    {% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Inventario{% endblock %}</title>
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% block contenido %}
    {% endblock %}
    <!-- JS de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>
